<section class="py-1 bg-blueGray-50 h-screen bg-gradient-to-tl from-[#FFE6FA] to-[#E3FDF5]">
    <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative  min-w-0 break-words bg-white w-full  shadow-lg  ">

            <div class="block w-full overflow-x-auto !rounded-bl-none !rounded-br-none rounded">
                <table class="items-center bg-transparent w-full border-collapse ">
                    <thead>
                        <tr class="bg-purple-600 text-white">
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-medium  text-sm tracking-[0.5px] text-left">
                                ID
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-medium  text-sm tracking-[0.5px] text-left">
                                UserName
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-medium  text-sm tracking-[0.5px] text-left">
                                mobileNumber
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-medium  text-sm tracking-[0.5px] text-left">
                                Terms & Condition
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-medium  text-sm tracking-[0.5px] text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of user,index as i "
                            class="text-justify  text-base font-medium {{i%2==0?'bg-neutral-100':''}}">
                            <th
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 text-left text-blueGray-700 ">
                                {{i+1}}
                            </th>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 capitalize">
                                {{user.userName}}
                            </td>
                            <td
                                class="border-t-0 px-6 align-center border-l-0 border-r-0 text-sm whitespace-nowrap p-4">
                                {{user.mobileNumber}}
                            </td>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-sm whitespace-nowrap p-4 capitalize ps-16">
                                {{user.accept}}
                            </td>
                            <td
                                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 flex gap-2 justify-center">

                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                                    (click)="deleteUser(i)" >
                                    <mat-icon class="!text-red-500">delete</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                                    (click)="editUser()" routerLink="/editUser/{{i+1}}">
                                    <mat-icon class="text-blue-500">edit</mat-icon>
                                </button>

                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
        <button mat-raised-button
            class="!bg-black  !h-10 !text-white shadow-lg w-full !rounded-tl-none !rounded-tr-none"
            (click)="addUser()">Add User</button>
    </div>

</section>