<header class="bg-[#AA2EE6] justify-center xl:justify-start  gap-8 py-4 xl:ps-36">
    <button mat-button [routerLink]="['adduser']" class="hover:underline  !text-white   text-[18px] ">Add User</button>
    <button mat-button [routerLink]="['user']" class="hover:underline  !text-white   text-[18px] ">All User</button>
</header>
<router-outlet></router-outlet>

<footer class="bg-purple-600 text-center">
    <p class="py-4">All Rights received Designed & developed by <a href="#" class="text-white font-medium underline">Karthii</a> </p>
</footer>